/* Yleiset*/
html, body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: black !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}


body {
    padding-top: 70px !important; /* korkeuden mukainen navbar */
}

.container {
    max-width: 2500px;
}

/* navi */
.navbar .nav-link {
    color: #ffffff !important;
    font-weight: 500 !important;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #209d61 !important;
}

.navbar.fixed-top {
    background-color: #000 !important; 
    border: none !important;           
    box-shadow: none !important;       
}

/* "Keilahalli Spin" */
.navbar .navi-brand span {
    color: white !important;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
}

/* Nappien tyyli  */
.btn.btn-dark {
    background-color:#209d61 !important;
    color: #ffffff !important;           
    border: none !important;
}

.btn.btn-dark:hover {
    background-color: #187448 !important;
    color: #ffffff !important;
}

/*  Taulukot */
.table {
    border: 3px solid #209d61 !important;
    border-radius: 8px;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 3px solid #209d61 !important;
    padding: 10px;
}

/*  Haitari  */
.accordion-button {
    font-size: 1.5rem !important;  
    font-weight: 700 !important;   
}

#accordionHinnasto .accordion-button {
    color: white !important;               
    background-color: #209d61 !important;  
    transition: background-color 0.3s; 
}

#accordionHinnasto .accordion-button:hover {
    background-color: #18774c !important; 
}

#accordionHinnasto .accordion-button::after {
    filter: invert(1);
}

#accordionHinnasto .accordion-body {
    background-color: #2a2a2a !important; 
    color: white !important;                       
    padding: 1rem 1.5rem !important;     
    border-radius: 0 0 8px 8px !important; 
}

/*  Kortit  */
.card {
    background-color: #2a2a2a !important; 
    color: white !important;             
}

.card .btn-dark:hover {
    background-color: #666 !important;             
}

/*  Karusellit = */
.carousel-indicators [data-bs-target] {
    background-color: #ffffff !important;
}

.carousel-indicators .active {
    background-color: #209d61 !important;
}

.carousel-item img,
.carousel-item video {
    width: 100% !important;
    height: auto !important;
    max-height: 800px !important;
    object-fit: cover !important;
    display: block !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none !important;
    }
}

/* alaosa */
#aukioloajat {
    margin-top: auto !important;  
}
